body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:beige;
}

.centerRow {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Header styling */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


/* for the 'rows' */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* for the left hand hour column */
.hour {
  background-color:beige;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* Classes Past/Future/present for background color changes. */
.past {
  background-color: #868585;

}

.present {
  background-color: #aa4843;

}

.future {
  background-color: #338433;

}

/* for the Save button columns */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;

}

#myModal {
  color: #000000;
}

.hide { 
  display: none; 
}